<!-- <div class="footer">
  <div class="container">
    <div class="footer-flex">
      <div class="footer-item">
        <div class="title">了解我们</div>
        <div class="line"></div>
        <div class="content">
          <span>消息通知</span><br />
          <span>热门产品</span><br />
          <span>合作伙伴</span>
        </div>
      </div>
      <div class="footer-item">
        <div class="title">关注我们</div>
        <div class="line"></div>
        <div class="content">
          <img src="assets/img/footer_03.jpg" alt="" />
          <div class="imgdesc">扫码关注我们</div>
        </div>
      </div>
      <div class="footer-item">
        <div class="title">微信公众号</div>
        <div class="line"></div>
        <div class="content">
          <img src="assets/img/footer_03.jpg" alt="" />
          <div class="imgdesc">扫码关注我们</div>
        </div>
      </div>
      <div class="footer-item">
        <div class="title">客服热线</div>
        <div class="line"></div>
        <div class="content content-phone">
          <img src="assets/icon/电话.png" alt="" /><span class="phone"
            >400-111-111</span
          >
          <div class="imgdesc">服务时间：7*24小时人工在线</div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p class="txt" style="white-space: nowrap;">
        <span>COPYRIGHT©2019 SUPPLY CHAIN SERVICES LLC。版权所有。 </span>
      </p>
    </div>
  </div>
</div> -->
