<app-header [fixedHeader]="true"></app-header>
<div class="main-body">
  <div class="ext-banner">
    <img src="assets/img/banner3.jpg" alt="" />
    <div class="ext-img"><img src="assets/img/newstab.png" alt="" /></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="news">
        <div class="news-img">
          <img src="assets/img/平台产品图.jpg" alt="" />
          <div class="img-tag">系统公告</div>
        </div>
        <div class="news-content">
          <div class="title">大平台，新方式 | 互联网供应链金融平台</div>
          <div class="date">2020/4/26</div>
          <div class="content">
            在市场经济迅猛发展的形势下,市场竞争日益激烈,企业为了自我生存和发展,千方百计地扩大自己产品的销售规模和市场占有份额。与此同时，企业的应收账款却居高不下，应收账款回款难、回款慢、占用企业资金，导致企业资金周转困难、影响企业正常生产经营。这是企业及金融行业一直渴望解决却又望而却步的问题，这个问题目前或许有了一个很好的解决方案。
            某零部件生产企业竞标某电器巨头的供应商，产品质量、价格、供应能力都很有优势，但是电器巨头却提出了要求…
          </div>
          <div class="link">阅读全文 >></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="news">
        <div class="news-img">
          <img src="assets/img/平台产品图2.png" alt="" />
          <div class="img-tag">基金新闻</div>
        </div>
        <div class="news-content">
          <div class="title">大平台，新方式 | 互联网供应链金融平台</div>
          <div class="date">2020/4/26</div>
          <div class="content">
            在市场经济迅猛发展的形势下,市场竞争日益激烈,企业为了自我生存和发展,千方百计地扩大自己产品的销售规模和市场占有份额。与此同时，企业的应收账款却居高不下，应收账款回款难、回款慢、占用企业资金，导致企业资金周转困难、影响企业正常生产经营。这是企业及金融行业一直渴望解决却又望而却步的问题，这个问题目前或许有了一个很好的解决方案。
            某零部件生产企业竞标某电器巨头的供应商，产品质量、价格、供应能力都很有优势，但是电器巨头却提出了要求…
          </div>
          <div class="link">阅读全文 >></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="news">
        <div class="news-img">
          <img src="assets/img/平台产品图.jpg" alt="" />
          <div class="img-tag">系统公告</div>
        </div>
        <div class="news-content">
          <div class="title">大平台，新方式 | 互联网供应链金融平台</div>
          <div class="date">2020/4/26</div>
          <div class="content">
            在市场经济迅猛发展的形势下,市场竞争日益激烈,企业为了自我生存和发展,千方百计地扩大自己产品的销售规模和市场占有份额。与此同时，企业的应收账款却居高不下，应收账款回款难、回款慢、占用企业资金，导致企业资金周转困难、影响企业正常生产经营。这是企业及金融行业一直渴望解决却又望而却步的问题，这个问题目前或许有了一个很好的解决方案。
            某零部件生产企业竞标某电器巨头的供应商，产品质量、价格、供应能力都很有优势，但是电器巨头却提出了要求…
          </div>
          <div class="link">阅读全文 >></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="news">
        <div class="news-img">
          <img src="assets/img/平台产品图2.png" alt="" />
          <div class="img-tag">基金新闻</div>
        </div>
        <div class="news-content">
          <div class="title">大平台，新方式 | 互联网供应链金融平台</div>
          <div class="date">2020/4/26</div>
          <div class="content">
            在市场经济迅猛发展的形势下,市场竞争日益激烈,企业为了自我生存和发展,千方百计地扩大自己产品的销售规模和市场占有份额。与此同时，企业的应收账款却居高不下，应收账款回款难、回款慢、占用企业资金，导致企业资金周转困难、影响企业正常生产经营。这是企业及金融行业一直渴望解决却又望而却步的问题，这个问题目前或许有了一个很好的解决方案。
            某零部件生产企业竞标某电器巨头的供应商，产品质量、价格、供应能力都很有优势，但是电器巨头却提出了要求…
          </div>
          <div class="link">阅读全文 >></div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
